<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICarComp" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1001/MyCarComp/endpoin1"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICarComp"
                contract="ServiceReference1.ICarComp" name="WSDualHttpBinding_ICarComp">
                <identity>
                    <userPrincipalName value="LAPTOP-VMDTVLU7\Bartek" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>